body {
  background-color: black;
  margin:0; /*removes padding so that navbar goes to edges */
}

h1 {
  color: crimson;
  margin-left: 20px;
}

p{
  color: #dc143c;
  margin-right: 500px;


}

.navbar{
  width: 100%;
  margin:0px;
  padding:0px;
  height: 64px;
  background: #C4C4C4;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  
  
}

.navbar-link{
  font-size: 1.0em;
  padding: 10px;
  margin:10px;
  height: 18px;
  width:9%;
  background-color: #dc143c;
  text-align: center;
}