body {
  background-color: white;
  margin:0; /*removes padding so that navbar goes to edges */
}

h1 {
  color: black;
  margin-left: 20px;
}

h2 {
	color: black;
}

p{
  color: black;
  margin-right: 500px;
}



.navbar{
  width: 100%;
  margin:0px;
  padding:0px;
  height: 64px;
  background: #C4C4C4;
  display: flex;
  justify-content: flex-end;
  align-items:center;
  
  
}

.navbar-link{
  font-size: 1.0em;
  font-weight: 700;
  padding: 10px;
  margin:10px;
  height: 18px;
  width:9%;
  background-color: #dc143c;
  color:white;
  text-align: center;
  transition: all 300ms ease;
}

.navbar-link:hover{
  background-color: #f59b9b;
  cursor: pointer;
}

.home-page-text{
  text-align: center;
  font-size: 1.3em;
  margin:25px 20% 25px 20%;
}

.online-order-container{
  position:relative;
  width:100%;
  height:600px;
}


.float-left-child {
  float: left;
}


#order-online-image{
  width:100%;
  height:600px;
}

#order-online-button{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-decoration: none;



  font-size: 1.1em;
  font-weight: 700;
  padding: 20px;
  margin:10px;
  height: 18px;
  width:9%;
  background-color: #dc143c;
  color:white;
  text-align: center;
  transition: all 300ms ease;

}

#order-online-button:hover{
  background-color: #f59b9b;
  padding:25px;
  cursor: pointer;
}

.error-page{
  color: black;
  text-align: center;
  margin-left: 20px;
  font-family: 'Bebas Neue',sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 5em;
  margin:25px 20% 25px 20%
}
 
.error-page-text{
  color: black;
  text-align: center;
  margin-left: 20px;
  font-family: 'Bebas Neue',sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 3em;
  margin:25px 20% 25px 20%
}




